!save history
xterm*SaveLines: 100000

! This should fix the alt
xterm*eightBitInput: false
xterm*eightBitOutput: true


! Colors
xterm*background: #000000
xterm*foreground: #ffffff

! fix backspace
xterm*vt100.backarrowKey: false
xterm*ttyModes: erase ^?

! Other cool things
xterm*utf8: 1

XTerm*faceName: 0xProto\ Nerd\ Font
XTerm*faceSize: 10

! Resize controls
xterm*vt100.translations: #override \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
